.tab-heading {
    font-weight: bold;
    padding: 1rem;
    background-color: lightgray;
    width: max-content;
    display: inline-block;
}

.tab-active {
    background: black;
    color: white;
}